pandas=2.1.4
streamlit=1.32.2
google-auth-httplib2 
google-auth-oauthlib
google-api-python-client
beautifulsoup4=4.12.2
selenium==4.18.1
webdriver_manager==4.0.1
wordcloud==1.9.3
konlpy==0.6.0
gensim==4.3.0
networkx==3.1
scipy==1.11.4
pyLDAvis==3.4.1
matplotlib==3.8.0
